.navButton {
  background-color: palevioletred;
}

.backgroundHome {
  background-color: cornflowerblue;
}

.backgroundPass {
  background-color: #f3e3dc;
}


.backgroundStory {
  background-color: #db9576;
}

.framework {
  border-radius: 20px;
  width: 50%;
  margin: auto;
}
