<div class="main background">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>{{ story.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="story.imgUrl" alt="story-pic">
    <mat-card-content>
      <p>
        {{ story.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bottom-btn">
      <button mat-button>READ MORE</button>
      <button mat-button>EDIT STORY</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>{{ story.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="story.imgUrl" alt="story-pic">
    <mat-card-content>
      <p>
        {{ story.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bottom-btn">
      <button mat-button>READ MORE</button>
      <button mat-button>EDIT STORY</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>{{ story.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="story.imgUrl" alt="story-pic">
    <mat-card-content>
      <p>
        {{ story.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bottom-btn">
      <button mat-button>READ MORE</button>
      <button mat-button>EDIT STORY</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>{{ story.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="story.imgUrl" alt="story-pic">
    <mat-card-content>
      <p>
        {{ story.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bottom-btn">
      <button mat-button>READ MORE</button>
      <button mat-button>EDIT STORY</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>{{ story.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="story.imgUrl" alt="story-pic">
    <mat-card-content>
      <p>
        {{ story.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bottom-btn">
      <button mat-button>READ MORE</button>
      <button mat-button>EDIT STORY</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>{{ story.title }}</mat-card-title>
      <mat-card-subtitle>{{ story.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="story.imgUrl" alt="story-pic">
    <mat-card-content>
      <p>
        {{ story.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bottom-btn">
      <button mat-button>READ MORE</button>
      <button mat-button>EDIT STORY</button>
    </mat-card-actions>
  </mat-card>

</div>